body {
	background-image: url("../images/bgimage.jpg");
}

#title {
    text-align: center;
    color: purple;
    font-weight: bold;
}
#rules {
	color: greenyellow;
}

.buttonContainer {
	display: none;
}

button:hover {
	background-color: greenyellow;
	color: white;
}

.answers div {
	margin: 0 auto;
}

h1, h2, h3, .question {
	text-align: center;
	color: greenyellow;
}


